* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1606647662271-67203a6604d2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-top: 2rem;
    padding-inline: 4rem;
    font-size: 30px;
}

nav div {
    display: flex;
    gap: 1rem;
}

nav div a {
    color: white;
    font-size: 20px;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
}

.headerDiv h1 {
    color: white;
    font-size: 6rem;
    font-weight: 700;
}

.headerDiv p {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.headerDiv button {
    padding: 20px 30px;
    background-color: blue;
    color: white;
    border-radius: 50px;
}

section {
    height: 100vh;
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
}

.section1Div1 {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.section1Div2 {
    font-size: large;
}

.section1P {
    font-size: 21px;
    font-weight: 700;
}

.img {
    width: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section2 {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.section2 h2 {
    font-size: xxx-large;
}

.section2Div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.section2Div div {
    font-size: large;
}